<?xml version='1.0' encoding='utf-8'?>
<AZs>
	<AZ id="0" proxy="100.0.0.2:50005">
		<datanodes>
			<datanode uri="100.0.0.2:9000" />
			<datanode uri="100.0.0.2:9001" />
			<datanode uri="100.0.0.2:9002" />
			<datanode uri="100.0.0.2:9003" />
			<datanode uri="100.0.0.2:9004" />
			<datanode uri="100.0.0.2:9005" />
			<datanode uri="100.0.0.2:9006" />
			<datanode uri="100.0.0.2:9007" />
			<datanode uri="100.0.0.2:9008" />
			<datanode uri="100.0.0.2:9009" />
		</datanodes>
		<cachenodes>
			<cachenode uri="100.0.0.2:9010" />
			<cachenode uri="100.0.0.2:9011" />
		</cachenodes>
	</AZ>
	<AZ id="1" proxy="100.0.0.3:50005">
		<datanodes>
			<datanode uri="100.0.0.3:9000" />
			<datanode uri="100.0.0.3:9001" />
			<datanode uri="100.0.0.3:9002" />
			<datanode uri="100.0.0.3:9003" />
			<datanode uri="100.0.0.3:9004" />
			<datanode uri="100.0.0.3:9005" />
			<datanode uri="100.0.0.3:9006" />
			<datanode uri="100.0.0.3:9007" />
			<datanode uri="100.0.0.3:9008" />
			<datanode uri="100.0.0.3:9009" />
		</datanodes>
		<cachenodes>
			<cachenode uri="100.0.0.3:9010" />
			<cachenode uri="100.0.0.3:9011" />
		</cachenodes>
	</AZ>
	<AZ id="2" proxy="100.0.0.5:50005">
		<datanodes>
			<datanode uri="100.0.0.5:9000" />
			<datanode uri="100.0.0.5:9001" />
			<datanode uri="100.0.0.5:9002" />
			<datanode uri="100.0.0.5:9003" />
			<datanode uri="100.0.0.5:9004" />
			<datanode uri="100.0.0.5:9005" />
			<datanode uri="100.0.0.5:9006" />
			<datanode uri="100.0.0.5:9007" />
			<datanode uri="100.0.0.5:9008" />
			<datanode uri="100.0.0.5:9009" />
		</datanodes>
		<cachenodes>
			<cachenode uri="100.0.0.5:9010" />
			<cachenode uri="100.0.0.5:9011" />
		</cachenodes>
	</AZ>
	<AZ id="3" proxy="100.0.0.6:50005">
		<datanodes>
			<datanode uri="100.0.0.6:9000" />
			<datanode uri="100.0.0.6:9001" />
			<datanode uri="100.0.0.6:9002" />
			<datanode uri="100.0.0.6:9003" />
			<datanode uri="100.0.0.6:9004" />
			<datanode uri="100.0.0.6:9005" />
			<datanode uri="100.0.0.6:9006" />
			<datanode uri="100.0.0.6:9007" />
			<datanode uri="100.0.0.6:9008" />
			<datanode uri="100.0.0.6:9009" />
		</datanodes>
		<cachenodes>
			<cachenode uri="100.0.0.6:9010" />
			<cachenode uri="100.0.0.6:9011" />
		</cachenodes>
	</AZ>
	<AZ id="4" proxy="100.0.0.7:50005">
		<datanodes>
			<datanode uri="100.0.0.7:9000" />
			<datanode uri="100.0.0.7:9001" />
			<datanode uri="100.0.0.7:9002" />
			<datanode uri="100.0.0.7:9003" />
			<datanode uri="100.0.0.7:9004" />
			<datanode uri="100.0.0.7:9005" />
			<datanode uri="100.0.0.7:9006" />
			<datanode uri="100.0.0.7:9007" />
			<datanode uri="100.0.0.7:9008" />
			<datanode uri="100.0.0.7:9009" />
		</datanodes>
		<cachenodes>
			<cachenode uri="100.0.0.7:9010" />
			<cachenode uri="100.0.0.7:9011" />
		</cachenodes>
	</AZ>
	<AZ id="5" proxy="100.0.0.8:50005">
		<datanodes>
			<datanode uri="100.0.0.8:9000" />
		</datanodes>
		<cachenodes>
			<cachenode uri="100.0.0.8:9010" />
		</cachenodes>
	</AZ>
</AZs>